/* line 1, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

/* line 6, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.anchor-nolink {
  pointer-events: none;
}

/* line 9, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.container-fluid {
  font-size: 15px;
  max-width: 1200px;
}

/* line 14, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
p {
  font-size: 21px;
}

/* line 18, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
li {
  font-size: 20px;
}

/* line 22, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.footer {
  border-top: 1px solid #888;
  color: #888;
  text-align: center;
  font-style: italic;
  margin-top: 2.5em;
}

/* line 30, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.navbar {
  border-radius: 0px;
  background-color: #00462A;
}

/* line 35, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.parallax {
  background-image: url(/assets/Auckland-d266992315f5f1d06b5e2a2901d22bd1bfa3a93133eb179c3794d9e9b1f7617e.jpg);
  min-height: 370px;
  background-repeat: no-repeat;
  margin-left: -500px;
  margin-right: -500px;
  margin-top: -25px;
}

/* line 45, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.sponsor-container {
  height: 80px;
}

/* line 49, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.sponsor-logo {
  max-height: 64px;
  max-width: 150px;
  margin: 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 58, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.sponsor-level {
  font-style: normal;
  font-size: 150%;
  color: #333;
  border-bottom: 1px solid #888;
}

/* line 65, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* line 68, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.navbar-default .navbar-nav > li > a {
  color: #777;
}

/* line 72, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.box {
  padding: 20px;
  border: 1px solid #D9B300;
  border-radius: 5px;
  margin: 10px;
}

/* line 79, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  font-weight: bold;
  color: #ffffff;
}

/* line 84, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: #ffffff;
}

/* line 88, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.oc-photo {
  height: 150px;
  width: 150px;
}

/* line 93, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.oc-name {
  padding: 4px;
  text-align: center;
}

/* line 98, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
td {
  font-size: 18px;
}

/* line 102, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.oc-email {
  word-break: break-all;
}

/* line 106, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.oc-cell {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

/* line 112, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.oc-container {
  margin-right: 4px;
  margin-left: 4px;
}

/* line 117, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.date-due {
  color: green;
  font-weight: bold;
  font-style: italic;
}

/* line 123, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.date-deadline {
  color: red;
  font-weight: bold;
}

/* line 128, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.date-today-highlight {
  background-color: #d9534f;
  color: white;
  font-style: italic;
}

/* line 134, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.date-notified {
  color: white;
  font-weight: bold;
  background-color: green;
}

/* line 140, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.panel-primary > .panel-heading {
  background-color: #00462A;
}

/* line 143, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.panel-primary {
  border-color: #00462A;
}

/* line 146, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.keynote-bio {
  margin-right: 8px;
  margin-bottom: 8px;
  float: left;
  width: 192px;
}

/* line 153, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.tutorial-heading, .specsess-heading {
  border-bottom: 1px solid #888;
}

/* line 158, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.jumbotron-wrapper {
  align-items: center;
}

/* line 163, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.carousel-indicators.carousel-landing {
  color: black;
}

/* line 168, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.carousel-landing-caption {
  text-align: center;
}

/* line 172, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.carousel-name {
  font-style: italic;
}

/* line 176, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
img.carousel {
  width: 160px;
}

/* line 180, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.carousel-indicators.carousel-landing > li {
  background: white;
  color: black;
  border: 1px solid #333;
}

/* line 186, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.carousel-control.carousel-landing {
  background: white;
  color: #fff;
}

/* line 191, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.splash-bright {
  color: #f00;
}

/* line 196, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.date-extended {
  font-weight: bold;
  background: red;
  color: white;
}

/* line 203, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.clickable-workshop-link {
  cursor: pointer;
}

/* line 207, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.extended-date {
  text-decoration: line-through;
}

/* line 211, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.extended-new-date {
  font-weight: bold;
  color: red;
}

/* line 216, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
#jumbotron-title {
  text-align: center;
}

/* line 220, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
#main-content {
  margin-top: 5em;
}

/* line 224, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.hilinks {
  font-size: 150%;
  margin-top: 16px;
}

/* line 229, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.hilinks.title {
  text-align: center;
  background-color: #00462A;
  border-color: #00462A;
}

/* line 235, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.hilinks.title:hover, .hlinks.title:focus {
  background-color: #00462A;
  border-color: #00462A;
}

/* line 240, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.invitation-header {
  font-size: 115%;
}

/* line 244, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.invitation-content {
  margin-top: 4em;
  width: 42em;
}

@media print {
  /* line 250, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
  .invitation-header {
    position: fixed;
    top: 0;
  }

  /* line 255, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
  .invitation-footer {
    position: fixed;
    bottom: 0;
  }

  /* line 260, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
  .invitation-content {
    margin-top: 10em;
  }
}
/* line 265, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.paper-title {
  font-weight: bold;
  text-decoration: underline;
}

/* line 271, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.attraction-block img.attraction {
  width: 100%;
}
/* line 275, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.attraction-block .title {
  margin-top: -51px;
  padding-left: 8px;
  margin-bottom: 8px;
  color: white;
  font-size: 36px;
  position: relative;
  font-weight: 800;
  font-style: italic;
  background-color: rgba(38, 38, 38, 0.6);
}
/* line 287, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.attraction-block .title.multi {
  margin-top: -75px;
}
/* line 289, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.attraction-block .title.multi .small {
  margin-top: -8px;
  font-size: 20px;
  padding-bottom: 4px;
}

/* line 297, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.hotel-street-view {
  width: 100%;
}

/* line 300, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.hotel-img {
  max-width: 320px;
  max-height: 160px;
}

/* line 306, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.best-papers .title {
  font-weight: bold;
  font-size: 16px;
}
/* line 311, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.best-papers .author, .best-papers .affil {
  font-style: italic;
}

/* line 315, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.row {
  margin-left: 80px;
}

/* line 318, /home/jyj/RubymineProjects/ASPIPA2020/app/assets/stylesheets/main.css.scss */
.btn {
  width: 220px;
  height: 50px;
  background-color: #ffffff;
  border-width: medium;
  border-color: #00462A;
}
