-#- items = { conf_glance: 'At a Glance', conf_schedule: 'Schedule', conf_keynotes: 'KeyNotes', conf_papers: 'Papers', conf_workshops: 'Workshops', conf_tutorials: 'Tutorials', conf_sessions: 'Special Sessions', conf_awards: 'Awards', survey: { name: 'Survey', link: 'https://goo.gl/forms/nAE0ddGOKzNX3Gom2', target: '_survey'}}

- items = { program_info:'Program Information', conf_keynotes: 'Key Note Speakers',  summer_school: 'Summer School',forum_talk: { name: 'Industrial Forum Talk', link: './Nominated IDL Yuichi Nakamura.docx', target: 'forum_talk'}}


- add_class = items[params[:action].to_sym] ? 'active' : ''

= render 'menu_dropdown', add_class: add_class, items: items, title: title

