
%h1 Accommodations

%div{class: 'col-xs-12 col-md-12'}
  %div{class: 'panel panel-default'}
    %div{class: 'panel-body'}
      %a{href: "2019-10-APSIPA-Brochure-V2.pdf"} Download APSIPA Brochure



%div{class: 'col-xs-12 col-md-12'}
  %div{class: 'panel panel-default'}
    %div{class: 'panel-body'}
      %address
        %strong UNIVERSITY HALL
        %br
        %a{href: '30 Whitaker Place, Grafton, Auckland 1010, New Zealand', target: '_gmaps'}
          30 Whitaker Place, Auckland 1010
          %span{class: 'glyphicon glyphicon-new-window'}
        %br
        Phone: +64 9 923 5678
        %br
        %a{href: ': https://summerstays.auckland.ac.nz', target: '_blank'}
          Website
          %span{class: 'glyphicon glyphicon-new-window'}


      %img{width:"1000", src: "#{asset_path('venue/accommodation-student.png')}", class: 'oggb'}

      %ul
      University Hall offers affordable accommodation for delegates attending conferences in Auckland, with stunning views in the heart of New Zealand’s largest city.
      Completed in 2011, University Hall is centrally located off Symonds Street, just 5 minutes’ walk from the conference venue.
      University Hall accommodation is modern and comfortable. Each single room contains a king sized single bed, desk/chair/internet access, wardrobe with shelving, opening window with
      blind. Four unisex bathrooms on each level offer lockable showers and toilets. Summer Stays is a public service provided by the University of Auckland offering large-scale
      cost effective accommodation in the heart of Auckland over the New Zealand summer. Vacated student king-single rooms are available to APSIPA attendees in large
      accommodation halls in central Auckland.

      %h4 BOOKING DETAILS:
      %ul
        %li Rates are per room per night and subject to availability.
        %li Full prepayment at time of booking.
        %li Refundable up to 1 week prior to arrival. Non-refundable within 1 week prior to arrival.
        %li Inclusive of Wifi Internet Access.
        %li Room Type King Single Room with shared bathroom
        %li Room Only (incl. GST): $NZ 92
        %li Booking dates: 6-11 December 2020
        %li Booking Code: APSIPA20
        %li Please email summerstays@auckland.ac.nz or call +64 9 923 5678 to make a booking.
        %li Inquire to receive group booking benefits
