
%h1 Conference Program
%br
-#%br
-#%h3 <a href= "APSIPA Conference Program - 13-11-2020.xlsx", style= "color: green"> Full Conference Program Schedule </a>
-#%h3 <a href= "https://cmsworkshops.com/APSIPA2020/TechnicalProgram.asp", style= "color: green"> Papers Presentations Schedule </a>

%table{class: 'table table-bordered'}
  %tr{class:'active'}
    %th
      %h3
        -#%b <a href= './cprogram', style= "color: green">  Full Conference Program Schedule (online) </a>
        -#%b <a href= 'APSIPA Conference Program - 25-11.htm', style= "color: green">  Full Conference Program Schedule (online) </a>
        %b <a href= 'https://drive.google.com/file/d/1ZEKozTPmgdAUf_QtZFNuObuJShDJzqQ-/view?usp=sharing', style= "color: green">  Full Conference Program Schedule (online) </a>

      %h3
        %b <a href= "APSIPA Conference Program - 25-11.xlsx", style= "color: green"> Full Conference Program Schedule (Download) </a>

  %tr
    %th
      %h3
        %b <a href= "https://cmsworkshops.com/APSIPA2020/TechnicalProgram.asp", style= "color: green"> Papers Presentations Schedule </a>


  %tr
    %th
      %h3
        %b <a href= "http://www.apsipa.org/proceedings/2020/APSIPA-ASC-2020.html", style= "color: black"> APSIPA ASC 2020 Conference Proceedings </a>

-#%img{src:"#{asset_path('logo/Hitachilogo_01_01.png')}", width:'250px', onclick=window.open('APSIPA Conference Program - 25-11.htm')}
