
%h1 Conference Program
%br
-#%br
-#%h3 <a href= "APSIPA Conference Program - 13-11-2020.xlsx", style= "color: green"> Full Conference Program Schedule </a>
-#%h3 <a href= "https://cmsworkshops.com/APSIPA2020/TechnicalProgram.asp", style= "color: green"> Papers Presentations Schedule </a>

%table{class: 'table table-bordered'}
  %tr{class:'active'}
    %th
      %h3
        %b <a href= "APSIPA Conference Program - 25-11.htm", style= "color: green"> Full Conference Program Schedule (online) </a>
        -#%a{href: '/cprogram', class: 'list-group-item list-group-item-warning'}
        -#%span{class: 'glyphicon glyphicon-star'}
        -#Keynote Speakers
      %h3
        %b <a href= "APSIPA Conference Program - 13-11-2020.xlsx", style= "color: green"> Full Conference Program Schedule (Download) </a>

  %tr
    %th
      %h3
        %b <a href= "https://cmsworkshops.com/APSIPA2020/TechnicalProgram.asp", style= "color: green"> Papers Presentations Schedule </a>