
%br
%h3{class: 'specsess-heading'} APSIPA ASC - 2020  Conference Program
%table{class: 'table table-bordered'}
  %tr
    %th{class: 'text-center'}  December 7
  %tr
    %th{class: 'text-center'}  <a href= './APSIPA 2020 -Tutorials.pdf', style= "color: black;text-decoration: underline"> Tutorials Day</a>


%table{class: 'table table-bordered'}
  %tr
    %th{colspan: 8,class: 'text-center'} DAY - 1 (December 8)
  %tr
    %th{class: 'text-center'} New Zealand Time
    %th{class: 'text-center'} Session
    %th{class: 'text-center'} Stream - A
    %th{class: 'text-center'} Stream - B
    %th{class: 'text-center'} Stream - C
    %th{class: 'text-center'} Stream - D
    %th{class: 'text-center'} Stream - E
    %th{class: 'text-center'} Stream - F
  %tr
    %td 12:00-12:30
    %td{colspan: 7,class: 'text-center'} Openning Ceremony
  %tr
    %td 12:30-14:00
    %td 1-1
    %td <a href= './overview_sess',  style= "color: black;text-decoration: underline"> Overview Session</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1030', style= "color: green;text-decoration: underline"> Electrical Signals in Human (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1041 ', style= "color: brown;text-decoration: underline"> Wireless Communications and Networking (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1068 ', style= "color: red;text-decoration: underline"> Image/Video Recognition (5) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1048 ', style= "color: #f534f0;text-decoration: underline"> Active Noise Control (6) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1049 ', style= "color: #f534f0;text-decoration: underline"> Emotion, Dialect, and Age Recognition (6) </a>
  %tr
    %td 14:15-15:15
    %td{colspan: 7,class: 'text-center'} <a href= './conf_keynotes', style= "color: black;text-decoration: underline">  Keynote Speaker -1 Mari Ostendorf: Context-Aware Language Processing ( Session Chair: Tatsuya Kawahara ) </a>
  %tr
    %td 15:30-17:00
    %td 1-2
    %td <a href= './overview_sess',  style= "color: black;text-decoration: underline"> Overview Session</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "background-color: yellow;color: black;text-decoration: underline"> Adaptive and Intelligent Signal Processing (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1020 ', style= "color: brown;text-decoration: underline"> Special: Advanced Signal Processing and Data Analysis for Environmental Recognition in Wireless Communication (4)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1069 ', style= "color: red;text-decoration: underline"> Machine Learning Techniques for Image & Video (6) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1052 ', style= "color: #f534f0;text-decoration: underline"> Music Information Processing 1, Audio Scene Classification (6) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1053 ', style= "color: #f534f0;text-decoration: underline"> Natural Language and Spoken Dialogue (6) </a>

  %tr
    %td 17:15-19:15
    %td 1-3
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "color: orange;text-decoration: underline"> Signal Processing Systems for Communication and Multimedia (8) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1020 ', style= "color: green;text-decoration: underline"> Signal Processing in Medical/Clinical Sciences (7)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1069 ', style= "color: brown;text-decoration: underline"> Special: Emerging technologies based on signal processing for wireless sensor networks (5) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1052 ', style= "color: red;text-decoration: underline"> Image/Video Coding (7) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1053 ', style= "color: #f534f0;text-decoration: underline"> Array Processing of Microphones and Loud Speakers (7) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1053 ', style= "color: #f534f0;text-decoration: underline"> Speech Enhancement 1 (7)</a>

  %tr
    %td 19:15
    %td{colspan: 7, class: 'text-center'}    Admin Meetings



  %tr
    %td{colspan: 8,class: 'text-center'}

  %tr
    %th{colspan: 8,class: 'text-center'} DAY - 2 (December 9)

  %tr
    %td 12:30-14:00
    %td 2-1
    %td <a href= './overview_sess',  style= "color: black;text-decoration: underline"> Overview Session</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1031', style= "color: green;text-decoration: underline"> Special: Multidimensional Biomedical Signal and Image Processing (3)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1026 ', style= "background-color: yellow;color: black;text-decoration: underline"> Signal and Information Processing Methods (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1021 ', style= "color: brown;text-decoration: underline"> Special: Digital Convergence of 5G, AIoT and Security I (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1051 ', style= "color: #f534f0;text-decoration: underline">Music Information Processing 2, Voice Conversion (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1054 ', style= "color: #f534f0;text-decoration: underline"> Speaker Recognition 1, Language Recognition (6)<a>
  %tr
    %td 14:15-15:15
    %td{colspan: 7,class: 'text-center'} <a href= './conf_keynotes', style= "color: black;text-decoration: underline">  Keynote Speaker - 2 David Taubman: The New Era of Image Coding ( Session Chair: C.-C. Jay Kuo )</a>
  %tr
    %td 15:30-17:00
    %td 2-2
    %td <a href= './overview_sess',  style= "color: black;text-decoration: underline"> Overview Session</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "background-color: #d9d9d9;color: black;text-decoration: underline"> Special: Data hiding in multimedia content and unconventional domain (4)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1020 ', style= "background-color: yellow;color: black;text-decoration: underline"> Special: Advanced Topics in Signal Processing & Machine Learning - Acoustic & Biomedical Applications (5)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1069 ', style= "color: red;text-decoration: underline"> Special: Recent Advances in Deep Learning with Multimedia Applications (4) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1052 ', style= "color: #f534f0;text-decoration: underline"> Speech Analysis (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1053 ', style= "color: #f534f0;text-decoration: underline"> Speaker Recognition 2, Sound Classification (6) </a>

  %tr
    %td{rowspan: 2}  17:15-19:15
    %td{rowspan: 2}  2-3

    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "color: black;text-decoration: underline"> Special: Design and Implementation for Advanced Wireless Communication Systems (4) </a>

    %td{rowspan: 2}  <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1020 ', style= "background-color: #d9d9d9;color: black;text-decoration: underline"> Special: Deep Generative Models for Media Clones and Its Detection (7) </a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1069 ', style= "color: #38a6f5;text-decoration: underline"> Machine Learning and Data Analysis 1 (7) </a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1052 ', style= "color: red;text-decoration: underline"> Image Analysis (7)</a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1053 ', style= "color: #f534f0;text-decoration: underline"> Speech Recognition (6)</a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1053 ', style= "color: #f534f0;text-decoration: underline"> Speech Enhancement 2 (7) </a>

  %tr
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "color: orange;text-decoration: underline"> Special: Reconfigurable Computing and Performance Evaluation (4)</a>

  %tr
    %td 19:15
    %td{colspan: 7,class: 'text-center'} Admin Meetings




  %tr
    %td{colspan: 8,class: 'text-center'}

  %tr
    %th{colspan: 8,class: 'text-center'} DAY - 3 (December 10)

  %tr
    %td 12:30-14:00
    %td 3-1
    %td
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1030', style= "color: green;text-decoration: underline"> Special: Information Processing for Understanding Human Attentional and Affective States (4)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1041 ', style= "background-color: yellow;color: black;text-decoration: underline"> Special: Recent devopments on signal processing theory and techniques in fractional Fourier and linear cannonical domain (3)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1068 ', style= "color: brown;text-decoration: underline"> Special: Digital Convergence of 5G, AIoT and Security II (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1048 ', style= "color: #f534f0;text-decoration: underline">Speech Separation 1 (6)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1049 ', style= "color: #f534f0;text-decoration: underline"> Speech Enhancement 3 (6)<a>
  %tr
    %td 14:15-15:15
    %td{colspan: 7,class: 'text-center'} <a href= './conf_keynotes', style= "color: black;text-decoration: underline">  "Kenote Speaker - 3  Nikola Kasabov: Brain-Inspired Computation for Deep, Incremental Learning of Spatio-Temporal Data and for Knowledge Acquisition ( Session Chair: Waleed Abdulla )"</a>
  %tr
    %td{rowspan: 2} 15:30-17:15
    %td{rowspan: 2} 3-2
    %td{rowspan: 2} <a href= './APSIPA 2020 Industrial Forum Presenters.pdf',  style= "color: black;text-decoration: underline"> Industry forum</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "background-color: #d9d9d9;color: black;text-decoration: underline"> Special: The Future of Biometrics beyond Recognition and Security (3)</a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1020 ', style= "color: #38a6f5;text-decoration: underline"> Machine Learning and Data Analysis 2 (7)</a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1069 ', style= "color: red;text-decoration: underline"> Multimedia Analysis and Others (7)</a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1052 ', style= "color: #f534f0;text-decoration: underline"> Speech Separation 2, Sound source separation (6)</a>
    %td{rowspan: 2} <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1053 ', style= "color: #f534f0;text-decoration: underline"> Speech Synthesis (6) </a>
  %tr
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "color: orange;text-decoration: underline">Special:  Privacy Preserving and Multimedia Security (4)</a>

  %tr
    %td 17:30-19:30
    %td 3-3
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1030', style= "color: green;text-decoration: underline"> Behavior Measurement and Analysis (7)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1041 ', style= "background-color: #d9d9d9;color: black;text-decoration: underline"> Recent Advances in Multimedia Security and Forensics (7)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1068 ', style= "color: #38a6f5;text-decoration: underline"> Special: Machine Learning for Small-sample Data Analysis (7) </a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1048 ', style= "color: red;text-decoration: underline">Special: Image and video processing based on deep learning (8)</a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1049 ', style= "color: #f534f0;text-decoration: underline"> Special: Advanced Signal Processing and Machine Learning for Audio and Speech Applications (5)<a>
    %td <a href= 'https://cmsworkshops.com/APSIPA2020/Papers/ViewSession.asp?Sessionid=1025', style= "color: orange;text-decoration: underline"> Signal Processing Systems for AI (8)</a>



  %tr
    %td 19:30-20:00
    %td{colspan: 7,class: 'text-center'} General Assembly
  %tr
    %td 20:00-20:15
    %td{colspan: 7,class: 'text-center'} Closing Ceremony



%table{class: 'table table-bordered'}

  %tr
    %th{class: 'text-center'}  December 11
  %tr
    %th{class: 'text-center'}  <a href= './summer_school', style= "color: black;text-decoration: underline"> Summer School</a>



%img{src: "#{asset_path('photos/colorkey.png')}", width:'1200'}