
%h1 Travel Information
%br
%div{class: 'row'}
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./travel'"} Explore New Zealand
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./general_info'"} General information
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./explore_island'"} Explore Island
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./quick_guide'"} Quick links guide
%hr

%div{style:'text-align:center'}
	%p
	%img{src:"assets/100_white_logo.jpg", width:'600px', align:'center', onclick:"location.href='http://www.newzealand.com/int/travel-guide'"}
%br
%p Travelling to New Zealand is easy. For practical information and travel advice before you leave, click Image.

%p
	Before travelling to a country, you need to know the basic facts. New Zealand is a small country, similar in size to Great Britain or Japan. With a population of just over 4 million people it is gloriously uncrowded. Learn more about New Zealand
	%a{href:'http://www.newzealand.com/int/facts'}here.

%h2
	%a{href:'http://http://www.newzealand.com/int/visitor-information-centre/'}i-SITE New Zealand
%p i-SITE is New Zealand’s official visitor information network. There are currently 80 i-SITE locations found throughout New Zealand where you can speak to a travel expert for local knowledge and bookings throughout New Zealand.
%br

%h2
	%a{href:'http://www.qualmark.co.nz'}Qualmark
%p Whether you are looking for places to stay, things to do or ways to get around, Qualmark – New Zealand tourism’s official quality assurance organisation – provides a trusted guide to quality travel experiences. When you see the Qualmark, it means that those businesses have been independently assessed against a set of national quality standards.
%br

%h2 Passports, visas & Electronic Travel Authority (ETA)

%p We enjoy welcoming visitors to New Zealand. To ensure you have an experience to remember, make sure you’ve done your homework and have everything sorted before you leave.
%p When you arrive, your passport must be valid for at least three months beyond your intended departure date, and if required, have a valid New Zealand visa.
%p
	From 1 October 2019, visitors from
	%a{href:'https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/tools-and-information/general-information/visa-waiver-countries'} visa-waiver countries 
	must request an Electronic Travel Authority (ETA) prior to coming to New Zealand. You may also have to pay an International Visitor Conservation and Tourism Levy (IVL). For more information on the ETA and IVL, visit 
	%a{href:'http://www.immigration.govt.nz/about-us/what-we-do/our-strategies-and-projects/eta-new-requirements'}Immigration New Zealand.
%p Before travelling to New Zealand, you need to make sure your passport is valid for at least three months longer than your expected departure date. If you come from a country that needs a New Zealand visa to enter, please be sure to apply in advance.
%p If you have a biometric ordinary passport (or electronic passport) and are over 12 years old, you may be able to use New Zealand Customs eGate service. This allows you to complete your Customs and Immigration checks faster so you can get on with enjoying your visit to New Zealand.   
%br

%h2
	%a{href:'http://www.mpi.govt.nz/travel-and-recreation/arriving-in-new-zealand/items-to-declare'}Biosecurity
%p In order to protect New Zealand and its environment, certain items are not allowed to be brought into the country, have restrictions for entry, or must be declared if they are deemed to present a biosecurity risk. These include food, plants, animal products and outdoor recreational equipment. You may risk a fine if you fail to comply.
%br

%h2 Vaccinations
%p No vaccinations are required to visit New Zealand.
%br

%h2
	%a{href:'http://www.newzealand.com/int/feature/new-zealand-climate-and-weather'}Climate
%p The weather varies throughout New Zealand by region and by season.
%br

%h2
	%a{href:'http://www.newzealand.com/int/feature/new-zealand-currency'}Currency
%p The currency used is the New Zealand Dollar (NZD).
%br

%h2
	%a{href:'http://www.newzealand.com/int/feature/internet-and-wifi-access-in-new-zealand'}Internet & phone coverage
%p Staying connected in New Zealand is easy with a little forward planning.
%br

%h2 Electricity
%p New Zealand's electricity supply runs at 230/240 volts and uses angled two or three pin plugs (the same as Australia and parts of Asia).
%br

%h2
	%a{href:'http://www.newzealand.com/int/feature/new-zealand-time-zones'}Time zone
%p New Zealand is one of the first places in the world to see the new day, 12 hours ahead of GMT (Greenwich Mean Time).
