
%h1 Call for Papers
%h2 Intelligent Signal & Information Processing
%p
  APSIPA ASC 2020 (www.apsipa2020.org) is the 11th annual conference organized by Asia-Pacific Signal and Information Processing Association (APSIPA), which will be held on November 18-21, 2020, in Auckland, New Zealand. Founded in 2009, APSIPA aims to promote research and education in signal processing, information technology, and communications. The annual conferences have been held previously in Sapporo, Japan (2009), Singapore (2010), Xi’an, China (2011), Los Angeles, USA (2012), Kaohsiung, Taiwan (2013), Siem Reap, Cambodia (2014), Hong Kong, China (2015), Jeju, Korea (2016), and Kuala Lumpur, Malaysia (2017) and Hawaii, USA (2018), and Lanzhou, China(2019). APSIPA is interested in all aspects of signal and information processing theories, algorithms, securities, implementations, and applications. All accepted papers will be indexed by EI compendex and archived by IEEE Xplore.
%p
  The technical program includes, but not limited to, the following areas:
%ul
  %li
    Biomedical Processing and Systems
  %li
    Image, Video, and Multimedia
  %li
    Signal and Information Processing Theories and Methods
  %li
    Signal Processing Systems: Design and Implementation
  %li
    Speech, Language, and Audio
  %li
    Wireless Communications and Networks
  %li
    Data Analytics and Machine Learning
  %li
    Deep Learning-based Signal Processing
  %li
    Multimedia Security and Forensics
  %li
    Signal and Information Processing in Energy and Sustainability
  %li
    Signal and Information Processing for the Internet of Things
  %li
    Signal and Information Processing Education

%h3 Paper Submission
%p Prospective authors are invited to submit papers of 4 to 10 pages in length.
%div{class: 'alert alert-info'}
  All papers presented and published in the Proceedings of APSIPA ASC 2020 are EI indexed and will be available in IEEE Xplore.

%h3 Special Session Proposals
%p
  APSIPA ASC 2020 strongly encourages organization of Special Sessions to complement regular programs and to help bring together leading researchers and engineers from around the world to present the state-of-the-art research directions. Please prepare a special session proposal with the following information and send to the
  %a{href: '/special_session'}Special Session
  Co-Chair coordinator Prof. Qin Jin following the instructions given.

= render 'deadline', target: [:proposal_for, :acceptance_for, :online_submission,:camera_ready,:all_paper_submissions,:all_paper_acceptance]