
%h1 Call for Papers


%h2 Intelligent Signal & Information Processing
%p
  APSIPA ASC 2020 (www.apsipa2020.org) is the 12th annual conference organized by Asia-Pacific Signal and Information Processing Association (APSIPA), which will be held on December 7-10, 2020, in Auckland, New Zealand. Founded in 2009, APSIPA aims to promote research and education in signal processing, information technology, and communications. The annual conferences have been held previously in Sapporo, Japan (2009), Singapore (2010), Xi’an, China (2011), Los Angeles, USA (2012), Kaohsiung, Taiwan (2013), Siem Reap, Cambodia (2014), Hong Kong, China (2015), Jeju, Korea (2016), and Kuala Lumpur, Malaysia (2017) and Hawaii, USA (2018), and Lanzhou, China(2019). APSIPA is interested in all aspects of signal and information processing theories, algorithms, securities, implementations, and applications. All accepted papers will be indexed by EI compendex and archived by IEEE Xplore.
%p
  The technical program includes, but not limited to, the following areas:
%ul
  %li
    Signal Processing Systems: Design and Implementation
  %li
    Signal and Information Processing Theory and Methods
  %li
    Speech, Language, and Audio
  %li
    Biomedical Signal Processing and Systems
  %li
    Image, Video, and Multimedia
  %li
    Multimedia Security and Forensics
  %li
    Wireless Communications and Networking
  %li
    Signal and Information Processing in Education
  %li
    Medical Signal Acquisition, Analysis and Processing
  %li
    Internet of Things Technology
  %li
    Data Analytics and Machine Learning
  %li
    Deep Learning: Algorithms, Implementations, and applications
  %li
    Human Biometrics and Security Systems
  %li
    Renewable Energy, Sustainability and the Environment
  %li
    AI and Smart Grids
  %li
    AI and Power Systems
  %li
    Wireless Power Transfer
  %li
    Autonomous Intelligent Self‑Driving Cars
  %li
    Smart Materials and Sensors
  %li
    Signals and Control Systems
%p
%a{href: "APSIPA 2020 - Flyer- Virtual- Registration.pdf"} Download 2020 APSIPA Call for paper



%h2 Paper Submission
%p Prospective authors are invited to submit papers of 4 to 10 pages in length.
%div{class: 'alert alert-info'}
  All papers presented and published in the Proceedings of APSIPA ASC 2020 are EI indexed and will be available in IEEE Xplore.

%h2 Special Session Proposals
%p
  APSIPA ASC 2020 strongly encourages organization of Special Sessions to complement regular programs and to help bring together leading researchers and engineers from around the world to present the state-of-the-art research directions. Please prepare a special session proposal with the following information and send to the
  %a{href: '/special_session'}Special Session
  Chair Coordinator Professor Wen-Huang Cheng following the instructions given.
%br
-#%h2 One-Page Papers
-#%p
-#  There is an opportunity for emerging researchers and postgraduate students to submit their research ideas in a one-page format. The guidelines for such papers are available
-#  <a href= "One-Page Papers Guidlines.pdf", style= "color: red"> here</a>.
-#  The papers must be submitted according to the this
-#  <a href= "one-page_APSIPA ASC2020_template.pdf", style= "color: red"> format</a>.

%br
= render 'deadline', target: [:proposal_for, :acceptance_for, :online_submission ,:Regular_camera_ready,:all_paper_acceptance,:camera_ready]