
%h1 Travel Information
%br
%div{class:'row'}
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./travel'"} 1. Explore New Zealand
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./general_info'"} 2. General information
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./explore_island'"} 3. Explore Island
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./quick_guide'"} 4. Quick links guide

%hr

%table{class:'table'}
	%thead
		%tr
			%th{scope:'col'}
				%p Title
			%th{scope:'col'}
				%p Information
			%th{scope:'col'}
				%p Link
	%tbody
		%tr
			%td{rowspan:'6'}Explore New Zealand
		%tr
			%td Introduction to New Zealand
			%td
				%a{href:'http://www.newzealand.com/int/destinations/'}http://www.newzealand.com/int/destinations/
		%tr
			%td Tiaki Promise – Care for New Zealand
			%td
				%a{href:'https://www.newzealand.com/int/feature/tiaki-care-for-new-zealand/'}https://www.newzealand.com/int/feature/tiaki-care-for-new-zealand/
		%tr
			%td Video
			%td
				%a{href:'https://www.youtube.com/watch?v=8TdKLyvesVE'}https://www.youtube.com/watch?v=8TdKLyvesVE
		%tr
			%td Accommodation options
			%td
				%a{href:'http://www.newzealand.com/int/accommodation/'}http://www.newzealand.com/int/accommodation/
		%tr
			%td Events in New Zealand
			%td
				%a{href:'http://www.newzealand.com/int/events/'}http://www.newzealand.com/int/events/
		%tr
			%td{rowspan:'6'}General information
		%tr
			%td Travel guide
			%td
				%a{href:'http://www.newzealand.com/int/travel-guide/'}http://www.newzealand.com/int/travel-guide/
				%a{href:'http://www.newzealand.com/int/facts/'}http://www.newzealand.com/int/facts/
		%tr
			%td Visas & immigration
			%td
				%a{href:'http://www.newzealand.com/int/visas-and-immigration/'}http://www.newzealand.com/int/visas-and-immigration/
		%tr
			%td International flights
			%td
				%a{href:'http://www.newzealand.com/int/getting-here/'}http://www.newzealand.com/int/getting-here/
		%tr
			%td Domestic flights
			%td
				%a{href:'http://www.newzealand.com/int/domestic-flights/'}http://www.newzealand.com/int/domestic-flights/
		%tr
			%td Transport options
			%td
				%a{href:'http://www.newzealand.com/int/getting-around/'}http://www.newzealand.com/int/getting-around/
		%tr
			%td{rowspan:'8'}
				Explore Island
				%br - North Island
		%tr
			%td Auckland
			%td
				%a{href:'http://www.newzealand.com/int/auckland/'}http://www.newzealand.com/int/auckland/
		%tr
			%td Hamilton & Waikato
			%td
				%a{href:'http://www.newzealand.com/int/hamilton-waikato/'}http://www.newzealand.com/int/hamilton-waikato/
		%tr
			%td Bay of Plenty
			%td
				%a{href:'http://www.newzealand.com/int/bay-of-plenty/'}http://www.newzealand.com/int/bay-of-plenty/
		%tr
			%td Rotorua
			%td
				%a{href:'http://www.newzealand.com/int/rotorua/'}http://www.newzealand.com/int/rotorua/
		%tr
			%td Lake Taupo
			%td
				%a{href:'http://www.newzealand.com/int/lake-taupo/'}http://www.newzealand.com/int/lake-taupo/
		%tr
			%td Hawke’s Bay
			%td
				%a{href:'http://www.newzealand.com/int/hawkes-bay/'}http://www.newzealand.com/int/hawkes-bay/
		%tr
			%td Wellington
			%td
				%a{href:'http://www.newzealand.com/int/wellington/'}http://www.newzealand.com/int/wellington/
		%tr
			%td{rowspan:'11'}
				Explore Island
				%br - South Island
		%tr
			%td Nelson
			%td
				%a{href:'http://www.newzealand.com/int/nelson/'}http://www.newzealand.com/int/nelson/
		%tr
			%td Marlborough
			%td
				%a{href:'http://www.newzealand.com/int/marlborough/'}http://www.newzealand.com/int/marlborough/
		%tr
			%td West Coast
			%td
				%a{href:'http://www.newzealand.com/int/west-coast/'}http://www.newzealand.com/int/west-coast/
		%tr
			%td Christchurch & Canterbury
			%td
				%a{href:'http://www.newzealand.com/int/christchurch-canterbury/'}http://www.newzealand.com/int/christchurch-canterbury/
		%tr
			%td Lake Wanaka
			%td
				%a{href:'http://www.newzealand.com/int/lake-wanaka/ '}http://www.newzealand.com/int/lake-wanaka/
		%tr
			%td Queenstown
			%td
				%a{href:'http://www.newzealand.com/int/queenstown/'}http://www.newzealand.com/int/queenstown/
		%tr
			%td Dunedin
			%td
				%a{href:'http://www.newzealand.com/int/dunedin-coastal-otago/'}http://www.newzealand.com/int/dunedin-coastal-otago/
		%tr
			%td Fiordland
			%td
				%a{href:'http://www.newzealand.com/int/fiordland/'}http://www.newzealand.com/int/fiordland/
		%tr
			%td Southland
			%td
				%a{href:'http://www.newzealand.com/int/southland/'}http://www.newzealand.com/int/southland/
		%tr
			%td Stewart Island
			%td
				%a{href:'http://www.newzealand.com/int/stewart-island-rakiura/'}http://www.newzealand.com/int/stewart-island-rakiura/
