
%h1 Call for Special Session

%p APSIPA ASC 2020 features a special sessions track for emerging research topics that will run throughout the conference in parallel to other tracks. Special sessions provide the opportunity for a more in-depth look at the subject matter presented. APSIPA ASC 2020 strongly encourages organization of Special Sessions to complement regular programs and to help bring together leading researchers and engineers from around the world to present the state-of-the-art research works. Special Session proposals may cover topics that relate to regular technical program tracks of APSIPA ASC 2020, but are not limited to those. Proposals will be reviewed by the special session committee based on the relevance, innovation, content and quality. All papers submitted to the special sessions will go through the same review process as regular papers. The special session organizers and all invited speakers will be required to register for the conference.

%h3 Proposal Format

%p
  Each special session proposal should contain the following information:
  %ul
    %li Name of the organizer(s) of the special session
    %li A title of the special session
    %li The relevant track of the special session
    %li Session abstract (statement of the significance of the topic)
    %li Tentative titles and abstracts of at least 4 (preferably 5) invited papers
    %li List of names who have agreed to contribute a paper in the session
    %li Short biography of special session organizer(s), and please include the complete affiliation, address and email



%p If you intend to propose and organize a special session, please provide a proposal using the <a href= "APSIPA_ASC_2020_SS_Proposal.xlsx", style= "color: red"> template</a> that includes the above information and send it to the following APSIPA ASC 2020 Special Sessions Chairs:  Wen-Huang Cheng, Jia-Ying Liu, and Chang-Su Kim. Please also CC the email to <a href="mailto:#w.abdulla@auckland.ac.nz"> w.abdulla@auckland.ac.nz</a>
//<a href= "w.abdulla@auckland.ac.nz", target: 'auckland email'> "w.abdulla@auckland.ac.nz"</a>
-#%a{href: "mailto:#{m[2]}"}

= render 'deadline', target: :special_session
= render 'chairs', target: :special_session, with_emails: true