
%h1 Sponsorship Opportunities


%br

%table{class: 'table table-bordered'}
  %tr{class:'active'}
    %th
      %h3
        %b Sponsorship Benefits
    %th
      %h4
        %b Platinum <div></div> $6,000 <div></div>  (One Only)
    %th
      %h4
        %b Gold<div></div>  $4,500  <div></div> (Two Only)
    %th
      %h4
        %b Silver<div></div>  $3,500
    %th
      %h4
        %b Exhibitor <div></div> $2,500

  %tr
    %td{colspan:5}Branding & Promotions

  %tr
    %td Complimentary Registrations
    %td <center> 3 </center>
    %td <center> 2</center>
    %td <center>1</center>
    %td
  %tr
    %td Logo recognition on the conference website with link to sponsors website*
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td <center> &#10004</center>

  %tr
    %td Logo on main rotating banner top of virtual platform*
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td

  %tr
    %td Acknowledgement in the Welcome video
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td

  %tr
    %td Virtual Exhibition Page
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td <center> &#10004</center>

  %tr
    %td{colspan:5, class: 'text-center'} Programme


  %tr
    %td Acknowledgment by host or MC during the conference
    %td <center> &#10004</center>
    %td <center> &#10004</center>
    %td
    %td
  %tr
    %td Short live promotional message via Live Host update <1min
    %td <center> &#10004</center>
    %td
    %td
    %td
  %tr
    %td Opportunity to be a session sponsor, with logo displayed in the timeline**
    %td <center> &#10004</center>
    %td
    %td
    %td
  %tr
    %td{colspan:5, class: 'text-center'}Exhibition



%h3{class: 'specsess-heading'}
%p At APSIPA ASC we highly value the support of our partners. Your success is our success. That is why we offer a variety of touchpoints for your brand and our delegates. We encourage you to sign up early to get the maximum return on your investment.

%h5 *Content to be supplied by sponsor/exhibitor
%h5 ** On Approval of conference organizers
%h5 *** In accordance with the NZ Privacy Act 1993

%p
%br
%p
%p <a href= "Sponsorship Prospectus_Virtual Conference_APSIPA.pdf", style= "color: red"><u> Download Application (link to the document)</u></a>
%p For any query, please contact
%p  Ashley Astells
%p Event Services – The University of Auckland
%p Email: apsipa2020@auckland.ac.nz