%h1 Sponsors Program

%p
  APSIPA ASC 2020 welcomes sponsorships from industry and organizations. Sponsors are acknowledged on the conference website and in some of the publication materials. Additionally, depending on the sponsorship level, a working booth can be provided. There are
  %b three sponsorship levels:
%br

%div{class: 'box'}
  %h3 Platinum Level
  %h3 US $10,000 or above
  %p The sponsor’s logo will appear in the conference banners, in addition to being included on the APSIPA ASC 2020 conference website and in the Final Program booklet. Additionally, they will be provided with a table at the conference, upon request, for promotional or exhibition purposes.

%div{class: 'box'}
  %h3 Gold Level
  %h3 US $5,000 or above
  %p The sponsor’s logo will appear in the conference banners, in addition to being included on the APSIPA ASC 2020 conference website and in the Final Program booklet.

%div{class: 'box'}
  %h3 Silver Level
  %h3 US $2,000 or above
  %p The sponsor’s logo will be included on the APSIPA ASC 2020 conference website and in the Final Program booklet.
%br

%h1 Contacts
%p Should you be interested in sponsoring the conference, please contact:
= render 'chairs', target: :sponsor, with_emails: true