
%h1 Travel Information
%br
%div{class: 'row'}
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./travel'"} Explore New Zealand
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./general_info'"} General information
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./explore_island'"} Explore Island
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='./quick_guide'"} Quick links guide
%br
%div{class: 'row'}
	%div{class:'col-xs-3'}
		%button{id:'quick', type:'button', onclick:"location.href='https://www.newzealand.com/int/visas-and-immigration'"}Visa Information
		-#%button{href:'https://www.newzealand.com/int/visas-and-immigration/'}Visa Information'

%br

%hr

%div{class: 'col-xs-12 col-md-12', style:'text-align:center'}
	%p
		%img{src: "#{asset_path('attractions/new-zealand.jpg')}", width:'800px', class: 'attraction'}
%h2
	Kia Ora.

%p
	New Zealand is a land of immense and diverse landscapes. You’ll experience natural wonders and unique culture here that you won’t find anywhere else in the world. Find out more about New Zealand
	%a{href:'http://www.newzealand.com/int/destinations/'}here.
%p
	Looking for some guidance on itinerary planning? Click
	%a{href:'http://www.newzealand.com/int/trips-and-driving-itineraries/'}here.

%p
	%a{href:'http://www.newzealand.com/int/accommodation/'}New Zealand accommodation options
	are diverse, with something to suit every level of comfort and budget. New Zealand has myriad different events on throughout the year, from sports fixtures to cultural festivals. Add one to your itinerary before or after your conference.
	Find out what is on
	%a{href:'http://www.newzealand.com/int/events/'}here.

%p We look forward to seeing you in New Zealand soon.

%br

%h2
	%a{href:'https://www.newzealand.com/int/feature/tiaki-care-for-new-zealand/'}Tiaki – Care for New Zealand

%p
	Tiaki means to care for people and place.
%p
	New Zealand is precious, and everyone who lives and travels here has a responsibility to look after it. The Tiaki Promise is a commitment to care for New Zealand, for now and for future generations.
%p
	By following the Tiaki Promise, you are making a commitment to New Zealand. To act as a guardian, protecting and preserving our home.
%p
	Nau Mai, Haere Mai Ki Aotearoa, Welcome to New Zealand.


