
%h1 Travel Information
%br
%div{class: 'row'}
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./travel'"} 1. Explore New Zealand
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./general_info'"} 2. General information
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./explore_island'"} 3. Explore Island
	%div{class:'col-xs-3'}
		%button{class:'btn btn-default btn-lg', type:'button', onclick:"location.href='./quick_guide'"} 4. Quick links guide

-#	%p
-#	  -#%a{href: 'https://lajolla.regency.hyatt.com/en/hotel/our-hotel/map-and-directions.html?icamp=propMapDirections', target: '_drivinginfo'}
-#	  Driving Directions
-#  		%span{class: 'glyphicon glyphicon-new-window'}
-#%address
-#  50 Mayoral Dr, Auckland, 1010 New Zealand
-#  %br
-#  Auckland, 1010 New Zealand
-#  %br
-#  %abbr{title: 'Phone'} Tel:
-#  +64 9-307 5626
-#%iframe{width:"800", height:"600", frameborder:"0", style:"border:0", id: 'venuemap', src:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15267.579061621647!2d174.75868992607437!3d-36.859731410345475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47ef872f4b9f%3A0x3876834b05538030!2z7JWE7Jik7Yuw7JWEIOyKpO2AmOyWtA!5e0!3m2!1sko!2skr!4v1557288387913!5m2!1sko!2skr", allowfullscreen: true}

	%i Take advantage of your week in sunny San Diego and discover our local attractions! From beautiful beaches to a variety of museums and eclectic restaurants, "America's Finest City" offers many things to do and see.

%hr

%div{class: 'col-xs-12 col-md-12', style:'text-align:center'}
	%p
		%img{src: "#{asset_path('attractions/new-zealand.jpg')}", width:'800px', class: 'attraction'}
%h2
	Kia Ora.

%p
	New Zealand is a land of immense and diverse landscapes. You’ll experience natural wonders and unique culture here that you won’t find anywhere else in the world. Find out more about New Zealand
	%a{href:'http://www.newzealand.com/int/destinations/'}here.
%p
	Looking for some guidance on itinerary planning? Click
	%a{href:'http://www.newzealand.com/int/trips-and-driving-itineraries/'}here.

%p
	%a{href:'http://www.newzealand.com/int/accommodation/'}New Zealand accommodation options
	are diverse, with something to suit every level of comfort and budget. New Zealand has myriad different events on throughout the year, from sports fixtures to cultural festivals. Add one to your itinerary before or after your conference.
	Find out what is on
	%a{href:'http://www.newzealand.com/int/events/'}here.

%p We look forward to seeing you in New Zealand soon.

%br

%h2
	%a{href:'https://www.newzealand.com/int/feature/tiaki-care-for-new-zealand/'}Tiaki – Care for New Zealand

%p
	Tiaki means to care for people and place.
%p
	New Zealand is precious, and everyone who lives and travels here has a responsibility to look after it. The Tiaki Promise is a commitment to care for New Zealand, for now and for future generations.
%p
	By following the Tiaki Promise, you are making a commitment to New Zealand. To act as a guardian, protecting and preserving our home.
%p
	Nau Mai, Haere Mai Ki Aotearoa, Welcome to New Zealand.


