
%h1 Tutorial Abstracts
%p
  Founded in 2009, APSIPA aims to promote research and education in signal processing, information technology, and communications. The Organizing Committee of APSIPA ASC 2020 is now inviting proposals for half-day (3 hours) tutorial as a part of the main conference program. Selected tutorial will be held on the first day of the conference (December 7). Topics of interest include, but not limited to: Signal and Information Processing in the areas of Speech, Language, Audio, Image, Video, and Multimedia, Deep Learning for Information Processing, Biomedical Processing, Data Analytics and Machine Learning.

%h2 Proposal Format

%p
  Tutorial proposals should be in PDF format and include the following information:

  %ul
    %li Title of the Tutorial
    %li Abstract, objectives, and motivation, emphasizing its timeliness
    %li Intended audience
    %li Name, affiliation, and a short biography (including a list selected publications) of each tutorial speaker
    %li An outline of the tutorial content, including its tentative schedule
    %li A description of the past/relevant experience of the speaker(s) on the topic of the tutorial
    (If a similar tutorial was given before, please describe when and where it was given, and how it will be modified for APSIAP ASC 2019.)
    %li Presentation material (optional): It helps if a draft of presentation material (to be distributed to the tutorial participates) is available for review.

%h2 Important Dates
%p
  %ul
    %li <strike>Tutorial proposal submission deadline: March 1, 2020</strike>
    %li <strike>Tutorial proposal acceptance notification: April 1, 2020</strike>
    %br

%p <a href= "OAPSIPA 20 Tutorial details.pdf", style= "font-weight: bold"> APSIPA ASC 2020 Tutorials List and Abstracts</a>
%br
-# = render 'deadline', target: :tutorial
= render 'chairs',  target: :tutorial, with_emails: true