
%h1 Visa Information
%br
-#%div{class: 'row'}
-#	%div{class:'col-xs-3'}
-#		%button{id:'quick', type:'button', onclick:"location.href='./travel'"} Explore New Zealand
-#	%div{class:'col-xs-3'}
-#		%button{id:'quick', type:'button', onclick:"location.href='./general_info'"} General information
-#	%div{class:'col-xs-3'}
-#		%button{id:'quick', type:'button', onclick:"location.href='./explore_island'"} Explore Island
-#	%div{class:'col-xs-3'}
-#		%button{id:'quick', type:'button', onclick:"location.href='./quick_guide'"} Quick links guide
-#